.artist-image-i {
  width: 100%;
  height: 310px;
}

.artist-name-i {
  font-size: 50px;
}

.wrapper-left-i {
  text-align: center;
}

.wrapper-i {
  width: 100%;
}

.list-of-songs {
  margin-top: 0px;
}

.play {
  font-size: 30px;
}

.song-list-item {
  margin-top: 8px;
  width: 100%;
  margin-top: 8px;
  margin: 0 auto;
  /* background: yellow; */
  -moz-box-shadow: initial;
  box-shadow: -2px 3px 24px -6px rgba(95,158,160,1);
  padding: 5px 0;
}


.nav-songs {
  display: table;
  width: 100%;
  padding: 12px;
  font-size: 25px;
  font-weight: 800;
  background: $lightblue-color;
}

.song-box {
  height: 310px;
  overflow-y: auto;
}

.songs-list {
  list-style-type:none;
  text-align: center;
  padding: 0;

}

.time-progress {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.link {
  text-decoration: none;
  color: white;

  &:hover {
    color: white;
  }
}

.subpage.artist-page {
  height: auto;
}

input[type=range] {
  width: 100%;
  margin:0;
  background: lighten(#5F9EA0, 37%);
}

.progress-linear-songs {
  margin-top: 90px;
}

.wrapper-bottom-i {
  margin: 10px 0px;
}

.bio-box {
  margin: 0;
}

.bio {
  padding: 8px;
}

.link {
  text-decoration: none;
  color: white;

  &:visited {
    text-decoration: none;
    color: white;
  }
}

.video-box {
  margin: 20px 0px 0px 0px;
  display: inline-block;
}

.video-section{
    height: 210px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    width: 84.95%;
    float: left;
}

.related-artist {
    height: 100px;
    display: inline-block;
    white-space: normal;
    text-decoration: none;
    height: 100%;
    color: white;
    font-weight: 800;
    border: 1px solid #b0c4de;

    &:hover {
      color: white;

      .caption {
        background: white;
        color: black;
      }
    }

    .caption {
      text-align: center;
      background: $lightblue-color;
      font-weight: 800;
      height: 100%;
    }
}



.related-artist-image {
  width: 250px;
  height: 180px;
}

.md-button.related-artist-button {
  padding: 0;
  margin: 0;
}

.md-button.md-raised:not([disabled]).clash-link {
  width: 100%;
  margin: 0;
  background: #A2687C;
}

.md-button.md-raised:not([disabled]).artists-link {
  width: 100%;
  margin: 0;
  background: $lightblue-color;
}

.buttons-wrapper {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 5px 35px 0px rgba(255,255,255,1);
  -moz-box-shadow: 1px 5px 35px 0px rgba(255,255,255,1);
  box-shadow: 1px 5px 35px 0px rgba(255,255,255,1);
}

#to-the-right {
  margin: 0;
  height: 210px;
  padding: 0;
  width: 10px;
  float: left;
}

#to-the-left {
  margin: 0;
  height: 210px;
  padding: 0;
  width: 10px;
  float: left;

}
