<div layout="column" id="login-page">
    <div id="input-box" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="developer"> Developed by <a ng-href="{{website}}" target="_blank">Daler Asrorov </a> </div>
      <form ng-submit="submit()" name="userForm" id="userForm" class="col-lg-8" autocomplete="off">
            <h3 id="form-title"> MelodyClash </h3>
            <div class="input-box" >
             <md-input-container flex>
                <label class="input-label">Name</label>
                <input ng-model="user.name" type="text" name="name" ng-change="switch()" class="input-style" required>
              </md-input-container>
							<div role="alert" class="errors-wrapper">
								<span class="error" ng-show="userForm.name.$error.required && !nameIsEmpty">
									Required!
								</span>
							 <span class="error" ng-show="userForm.name.$error.name">
								 Not a valid name!</span>
						 	</div>
            </div>
            <div class="input-box">
              <md-input-container flex>
                <label class="input-label">Favorite Genre</label>
                <input ng-model="user.genre" type="text" name="genre" class="input-style" ng-change="switch()" required>
              </md-input-container>
							<div role="alert" class="errors-wrapper">
								<span class="error" ng-show="userForm.genre.$error.required && !genreIsEmpty">
									Required!
								</span>
            	</div>
            <div layout layout-sm="row" class="start-button-div">
              <md-button type="submit" id="submit" value="Submit" class="md-fab md-mini center-div start-button" aria-label="Start app!"
							ng-disabled="!(user.name && user.genre)" id="start-button">
                <ng-md-icon icon="play_arrow" size="30"></ng-md-icon>
              </md-button>
            </div>
        </form>
    </div>
</div>
